beautifulsoup4==4.13.4
bcrypt==4.3.0
croniter==6.0.0
Cython==3.1.2
feedparser==6.0.11
furl==2.1.4
google-api-python-client==2.172.0
isodate==0.7.2
jq==1.9.1
jsonpath-ng==1.7.0
lxml==5.4.0
Pillow==11.2.1
parsedatetime==2.6
psutil==7.0.0
pyhedrals==0.2.0
pymediawiki==0.7.5
pyre2==0.3.6
python-dateutil==2.9.0.post0
pytimeparse==1.1.8
pytz==2025.2
pyxDamerauLevenshtein==1.8.0
regex==2023.3.23
requests==2.32.4
ruamel.yaml==0.18.14
Twisted[tls]==25.5.0
