Twisted[tls]==18.7.0
beautifulsoup4==4.6.3
lxml==4.2.4
psutil==5.4.7
python-dateutil==2.7.3
ply==3.11
enum34==1.1.6
twitter==1.18.0
requests==2.19.1
pytimeparse==1.1.8
pymysql==0.9.2
pycryptodome==3.6.6
pyasn1==0.4.4
isodate==0.6.0
google-api-python-client==1.7.4
pyxDamerauLevenshtein==1.5
numpy==1.15.1
Cython==0.28.5
git+git://github.com/andreasvc/pyre2.git@7146ce3#egg=re2
parsedatetime==2.4
cryptography==2.3.1
future==0.16.0
six==1.11.0
ruamel.yaml==0.15.61
croniter==0.3.25
SQLAlchemy==1.2.11
pyhedrals==0.0.1
