beautifulsoup4==4.14.2
bcrypt==5.0.0
croniter==6.0.0
Cython==3.1.5
feedparser==6.0.12
furl==2.1.4
google-api-python-client==2.185.0
isodate==0.7.2
jq==1.10.0
jsonpath-ng==1.7.0
lxml==6.0.2
Pillow==12.0.0
parsedatetime==2.6
psutil==7.1.1
pyhedrals==0.2.0
pymediawiki==0.7.5
pyre2-updated==0.3.9.post1
python-dateutil==2.9.0.post0
pytimeparse==1.1.8
pytz==2025.2
pyxDamerauLevenshtein==1.9.0
regex==2023.3.23
requests==2.32.5
ruamel.yaml==0.18.15
Twisted[tls]==25.5.0
