# import default config values
import: [_defaults]

# the server to connect to
server: irc.server.org
# the port to connect on
port: 6667
# whether or not the connection should be secured
tls: False

# SASL login for your NickServ account
#sasl_username: null
#sasl_password: null

# the channels to join
channels:
  '#channel': null

# who can issue admin commands
admins:
- '*!~You@host.mask'

# modules to load (or not)
#modules:
#- -Responses

# url where the logs are served
logurl: 'http://irc.example.com'

# whether or not to save configs to file on shutdown
# this should generally be true, but it can be useful to set to false in testing and/or CI
save_on_exit: true
