# import default config values
import: [_defaults]

# the server to connect to
server: irc.server.org
# the port to connect on
port: 6667
# whether or not the connection should be secured
tls: False

# the channels to join
channels:
  '#channel': null

# who can issue admin commands
admins:
- '*!~You@host.mask'

# modules to load (or not)
#modules:
#- -Responses

# database engine to use for data storage http://docs.sqlalchemy.org/en/latest/core/engines.html
database_engine: 'sqlite:///data/server.org/data.db'
